body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
}

.heading-primary{
    font-size: 2rem;
}

.paragraph{
    font-size: $default-font-size;
    padding: 1rem 0;
}