//Colors
$color-primary: #28a745;
$color-secondary: #bd2130;

$color-white: #ffffff;
$color-black: #000000;

$color-grey--light: #e9ecef;
$color-grey--dark: #bec0c2;

$color-red-dark: #721c24;
$color-red-light: #f5c6cb;
$color-red-lighter: #f8d7da;

$color-green-dark: #155724;
$color-green-light: #c3e6cb;
$color-green-lighter: #d4edda;

//Shadows
$shadow: rgba($color-black, .5);

//Font size
$default-font-size: 1.6rem;
