<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search App</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;subset=latin-ext" rel="stylesheet">
    <!-- build:css -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- endbuild -->
</head>
<body>
    {% include "components/widget.html" %} 
    <!-- build:js -->
    <script src="../js/SearchApp.js"></script>
    <script src="../js/config.js"></script>
    <script src="../js/ui.js"></script>
    <script src="../js/http.js"></script>
    <script src="../js/ResultsCount.js"></script>
    <!-- endbuild -->
</body>
</html>