<main class="main-content">
    <iframe class="map map-js" src="https://wego.here.com/?map=51.07474,21.0141,15,normal" frameborder="0"></iframe>
    <section class="widget">
        <div class="widget__content">
            <div class="widget__title">
                <h1 class="heading-primary">SearchStreet</h1>
            </div>
            <form action="#" class="form">
                <div class="form__group">
                    <label for="input-one" class="form__label"></label>
                    <input id="input-one" type="text" class="form__input">
                </div>
                <div class="form__group">
                    <label for="input-two" class="form__label"></label>
                    <input id="input-two" type="text" class="form__input">
                </div>
                <div class="form__buttons">
                    <a id="btn-search" href="#" class="btn btn--primary">Szukaj</a>
                    <a id="btn-clear" href="#" class="btn btn--secondary">Wyczyść</a>
                </div>
            </form>
            <div class="results results-js">
                <p class="paragraph results__paragraph results__paragraph-js">

                </p>
                <table class="results-table results-table-js">

                </table>
                <p id="count" class="paragraph results__paragraph">

                </p>
            </div>
        </div>
    </section>
</main>