.alert{
    width: 100%;
    padding: 1rem 2rem;
    font-size: $default-font-size;
    &--bad{
        color: $color-red-dark;
        background-color: $color-red-lighter;
        border: .4rem solid $color-red-light;
    }
    &--good{
        color: $color-green-dark;
        background-color: $color-green-lighter;
        border: .4rem solid $color-green-light;
    }
}