.btn {
    margin: .5rem;
    transition: all .3s;
    border-radius: .5rem;
    &:link, &:visited {
        text-decoration: none;
        color: $color-white;
        padding: .5rem 1rem;
        font-size: $default-font-size;
    }
    &:hover {
        background-color: $color-white;
        box-shadow: 0 0 2rem $shadow;
    }
    &--primary {
        background-color: $color-primary;
        border: 2px solid $color-primary;
        &:hover {
            color: $color-primary;
        }
    }
    &--secondary {
        background-color: $color-secondary;
        border: 2px solid $color-secondary;
        &:hover {
            color: $color-secondary;
        }
    }
}