.form{
    display: flex;
    flex-direction: column;
    padding-top: .5rem;
    border-bottom: .2rem solid $color-black;
    &__group{
        display: flex;
        justify-content: flex-start;
        padding: .5rem 0;
        align-items: center;
    }
    &__label{
        font-size: $default-font-size;
    }
    &__input{
        width: 60%;
        height: 2.7rem;
        margin-left: auto;
        &--big{
            width: 100%;
        }
    }
    &__buttons{
        display: flex;
        justify-content: flex-end;
    }
    &__img{
        height: 1.6rem;
        padding-right: .5rem;
        transition: all .1s;
        &:hover{
            cursor: pointer;
            transform: scale(1.15);
        }
    }
}