.results-table {
    border: 4px solid $color-black;
    border-collapse: collapse;
    font-size: $default-font-size;
    width: 100%;
    &__cell {
        border-right: 4px solid $color-black;
        padding-left: .5rem;
        &--first{
            width: 40%;
        }
        &--second{
            width: 25%;
        }
        &--third{
            width: 35%;
        }
    }
    &__row {
        &:nth-child(even) {
            background-color: $color-white;
            &:hover{
                background-color: $color-green-light;
            }
        }
        &:nth-child(odd) {
            background-color: $color-grey--light;
            &:hover{
                background-color: $color-green-light;
            }
        }
        &:first-child {
            background-color: $color-grey--dark;
            &:hover{
                background-color: $color-grey--dark;
            }
        }
    }
}