.widget{
    width: 56.2rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $color-white;
    &__content{
        border: .3rem solid $color-black;
        padding: 1rem;
    }
    &__title{
        border-bottom: .2rem solid $color-black;
        padding-bottom: .5rem;
    }
}